*{
    margin: 0;
}

body {
    background: rgb(7, 2, 85);
    background: linear-gradient(90deg, rgba(7, 2, 85, 1) 0%, rgba(24, 216, 255, 1) 13%, rgba(152, 126, 207, 1) 47%, rgba(218, 17, 219, 1) 86%, rgba(75, 4, 75, 1) 98%);
}

.container{
    display: flex;
    justify-content: center;

}

#titulo {
    background-color: white;
    box-shadow: 2px 6px 18px -3px rgba(0,0,0,0.75);
    margin:0 auto;
    width: 700px;
    padding: 30px;
    text-align: center;
    height: 200px;
}

#hora, #fecha{
    background-color: white;
    box-shadow: 2px 6px 18px -3px rgba(0,0,0,0.75);
    width: 350px;
    height: 300px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#vuelo{
    background-color: white;
    box-shadow: 2px 6px 18px -3px rgba(0,0,0,0.75);
    margin:0 auto;
    width: 700px;
    padding: 30px;
    text-align: center;
    height: 200px;
}

#alert{
    z-index: 1;
    background-color: rgba(0,0,0,0.1);
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    position: fixed;
    top: 0;
}
